<ion-view view-title="Activity">
  <ion-content class="content">
    <ion-list>

    	<canvas id="canvas" class="canvas" width='1000' height='300'>
	      Your browser does not support canvas element. Please use Chrome / Mozilla or newer Internet Explorer browser.
	    </canvas>
        <!-- <button ng-click='click()'>sss</button> -->
        
        <div class="fun-mode" ng-if="options.funMode">😄</div>
        
        <section class="debug-info">
            <button class="button" ng-click="startWatching()">
                Start Measurement
            </button>
            
            <button class="button" ng-click="stopWatching()">
                Stop Measurement
            </button>
            
            <ul class="debug-info__axis">
                <li>X: {{measurements.x}}</li>
                <li>Y: {{measurements.y}}</li>
                <li>Z: {{measurements.z}}</li>
            </ul>
        </section>
    </ion-list>
  </ion-content>
</ion-view>
