<ion-view view-title="Activity">
  <ion-content class="content">
    <ion-list>

    	<canvas id="canvas" class="canvas" width='1000' height='300'>
	      Your browser does not support canvas element. Please use Chrome / Mozilla or newer Internet Explorer browser.
	    </canvas>
        
	    <!--<button ng-click='click()'>click</button>-->
        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">Frequency</span>
                <input type="text" placeholder="0" ng-model="options.frequency">
            </label>
        </div>-->
        <!--<button class="button button-full button-positive" ng-click="startWatching()">
            Start Measurement
        </button>
        <button class="button button-full button-positive" ng-click="stopWatching()">
            Stop Measurement
        </button>
        <h2>X: {{measurements.x}}</h2>-->
        <div class="debug-info">Y: {{measurements.y}}</div>
        <!--<h2>Z: {{measurements.z}}</h2>-->
    </ion-list>
  </ion-content>
</ion-view>
